# Python
__pycache__/
*.py[cod]

# Virtualenvs
.env
.venv/
venv/
env/
*.env

# Poetry
# Keep poetry.lock for reproducibility
# DO NOT ignore poetry.lock

# Logs
*.log
logs/

# Editor settings
.vscode/
*.code-workspace

# macOS
.DS_Store

# Secrets and credentials
secrets/
*.json
*.credentials.json
*.service_account.json

# GitHub Actions - temp
.github/workflows/